/* globals.css */
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');

/* Add your global styles here */
html,body{
    height: 100%;
    background-color: black;
}
.form{
    position: relative;
    left: 64%;
    border: 2px solid black;
    height: 52px;
   
}
.btn{
    height: 55px;
    
}
.list{
   
   
    border-radius: 33px;
    color: white;
    padding: 22px;
}
.inputField{
    display: flex;
    /* border-bottom: 5px solid white; */
}
.my-3{
    height: 52px;
}

.td{
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
}
.btn-danger{
    height: 35px;
    width: 64px;
    padding-right: 62px;
    margin-top: 11px;
}

.set{
    /* border: 1px solid red; */
    width: 68rem;
    
}
.title{
    /* border: 1px solid blue; */
    width: 35%;
    text-wrap: wrap;
}
.desc{
    /* border: 1px solid pink; */
    width: 44%;
    margin-left: 13vw;
    text-wrap: wrap;
}
